<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        font-size: 16px;
        line-height: 18px;
        line-height: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div>
      {{{body}}}
      {{! Footer }}
      <br />
      メールアドレス：withinfo@earth-cp.com
      <br />
      電話番号：0968-82-8003
      <br />
      引き続き、「企業版ふるさと納税WiTH」をよろしくお願いいたします。
    </div>
  </body>
</html>